HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Build ###
/.mvn/
**/target/
**/build/
**/.gradle/
**/.mvn/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Sensitive Files ###
application.properties
.env
*.log


htmlReport/
src/test/

# macOS system files
.DS_Store

# Ignore YAML configuration files (Sensitive Data)
*.yml

